body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.App {
    padding: 40px 0;
    display: flex;
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    width: 754px;
    margin: 0 auto;
}
.description h1 {
    color: #36006C;
    font-size: 50px;
    font-weight: 500;
    margin-top: 0;
}
.description p {
    color: #696969;
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
}


.throws {
    margin-top: 70px;
}
.throws__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 40px;
}
.throw__items {
    display: flex;
    flex-wrap: wrap;
}
.throw__items .throw__item {
    width: 33.3333%;
}
.throw__item {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
    padding: 30px 0px;
    background: transparent;
    border: 0;
}
.throw__item:hover {
    background-color: #F8F8F8;
}
.throw__item.no-hover {
    cursor: default;
}
.throw__item.no-hover:hover {
    background: transparent;
}
.throw__item h3 {
    font-size: 24px;
    font-weight: 500;
    color: #36006C;
    margin-bottom: 0;
}
.throw__img img {
    width: 64px;
    max-width: 100%;
    height: auto;
}
.throw-waiting {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.72;
}
.modal__content {
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 40px #0000001A;
    border-radius: 5px;
    padding: 70px 70px;
    margin: 30px;
    width: 750px;
    max-width: 100%;
}
.modal__title h2 {
    color: #36006C;
    font-size: 32px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.modal__title {
    margin-bottom: 70px;
}
.close-a {
    opacity: 0.54;
    transition: 0.2s;
}
.close-b {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
.modal__close {
    position: absolute;
    right: 35px;
    top: 35px;
    background: transparent;
    border: 0;
    width: 19px;
    padding: 0;
    cursor: pointer;
}

.modal__close:hover .close-a {
    opacity: 1;
}
.modal__footer {
    text-align: center;
}
.modal__button {
    color: #fff;
    background: #36006C;
    font-size: 32px;
    border-radius: 5px;
    padding: 16px 50px;
    min-width: 360px;
    border: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
